{{#each events as |event|}}
  <img src="public/on-on-foot.jpg" alt="On On foot" />
  <section data-id="{{event.id}}">
    <h2>{{event.name}}</h2>
    <p>Date:
      {{event.date}}
    </p>
    <p>Time:
      {{event.time}}
    </p>
    <p>Location:
      {{event.location}}
    </p>
    <p>Description:
      {{event.description}}
    </p>
    <p>Hare:
      {{event.hare}}
    </p>
    <p>Bag Car:
      {{event.bag_car}}
    </p>


    <button class="view-event" data-id="{{event.id}}">See who's coming!</button>

    {{#if event.editable}}

    <button class="update-event" data-id="{{event.id}}">Edit My Event</button>
    <button class="delete-event" data-id="{{event.id}}">Delete My Event</button>
    {{/if}}


  </section>



{{/each}}
