{{#each events as |event|}}
  <section data-id="{{event.id}}">
    <h2>{{event.name}}</h2>
    <p>Date:
      {{event.date}}
    </p>
    <p>Time:
      {{event.time}}
    </p>
    <p>Location:
      {{event.location}}
    </p>
    <p>Description:
      {{event.description}}
    </p>
    <p>Hare:
      {{event.hare}}
    </p>
    <p>Bag Car:
      {{event.bar_car}}
    </p>
  </section>



{{/each}}
