<form id="update-event">
  <p>Add New Event</p>
  <h2 id="update-message"></h2>

  <input type="text" name="event[name]" placeholder="{{event.name}}" required />
  <input type="date" name="event[date]" placeholder="{{event.date}}" required />
  <input type="time" name="event[time]" placeholder="{{event.time}}" required />
  <input type="text" name="event[location]" placeholder="{{event.location}}" required />
  <input type="text" name="event[description]" placeholder="{{event.description}}" required />
  <input type="text" name="event[hare]" placeholder="{{event.hare}}" required />
  <input type="text" name="event[bag_car]" placeholder="{{event.bag_car}}" required />
  <input type="submit" value="Update Event" />
</form>
