<form class="patch-event">
  <h2 id="update-message">Edit Event</h2>

  <label>Event Name</label>
  <input type="text" name="event[name]" value="{{event.name}}" required />
  <label>Date</label>
  <input type="date" name="event[date]" value="{{event.date}}" required />
  <label>Time</label>
  <input type="text" name="event[time]" value="{{event.time}}" required />
  <label>Location</label>
  <input type="text" name="event[location]" value="{{event.location}}" required />
  <label>Description</label>
  <input type="text" name="event[description]" value="{{event.description}}" required />
  <label>Hare</label>
  <input type="text" name="event[hare]" value="{{event.hare}}" required />
  <label>Bar Car</label>
  <input type="text" name="event[bag_car]" value="{{event.bag_car}}" required />
  <input type="submit" value="Update Event" />
  <button>Cancel</button>
</form>
