<section data-id="{{event.id}}">
  <h2>{{event.name}}</h2>
  <p>Date:
    {{event.date}}
  </p>
  <p>Time:
    {{event.time}}
  </p>
  <p>Location:
    {{event.location}}
  </p>
  <p>Description:
    {{event.description}}
  </p>
  <p>Hare:
    {{event.hare}}
  </p>
  <p>Bag Car:
    {{event.bag_car}}
  </p>
  <h2 class="paid-update"></h2>
{{{twoLoops event.users event.attendees}}}

<h2 class="rsvp-message"></h2>

<button class="rsvp" data-id="{{event.id}}">RSVP Yes!</button>
<button class="get-events">Get All Events</button>




  <button class="update-event" data-id="{{event.id}}">Edit My Event</button>
  <button class="delete-event" data-id="{{event.id}}">Delete My Event</button>
</section>
